*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

body{
    background-color: #f4f4f4;
}

/*header section*/
.header{
    background-color: #2c2c37;
    color: white;
    padding: 0 164px;
}

.logo-search{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -30px;
    padding: 10px 0 12px 0;
}

.logo{
    font-family: OpenSans, Arial;
    font-size: 30px;
    font-weight: 500;
    margin: 0 33px;
}

.logo i{
    display: none;
}

.sidedrop{
    display: none;
}
  
h1{
    font-family: OpenSans, Arial;
    font-size: 30px;
    font-weight: 500;
}
  
.sign-in-link{
    display: none;
}

.logo .orange{
    color: #ef6e3f;
}

h6{
    font-size: 10px;
    color: rgb(108, 106, 106);
    letter-spacing: 1.1px;
}

.input{
    position: relative;
    min-width: 200px;
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    border-radius: 5px;
    border: none;
    cursor:text;
}

.input-search{
    display: none;
  }

.link{
    font-weight: lighter;
    text-decoration: none;
    font-size: smaller;
    color:  rgb(108, 106, 106);
    transition: color 0.2s ease-out;
}

.link:hover{
    color: rgb(206, 99, 32);
    text-decoration: underline;
}

.search-btn{
    position: absolute;
    right: 42%;
    top:15%;
    background-color: rgb(225, 110, 39);
    border: none;
    padding: 7.5px 12px;
    cursor: pointer;
    color: white;
    font-size: 18.5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: rgb(133, 58, 12);
}

/* Responsive Breakpoints */
@media screen and (max-width: 1024px) {
    
    .header{
        padding: 0 25px 0 25px;
    }

    body{
        max-width: 1500px;
        width: 160%;
    }

    .search-btn{
        right: 41%;
    }

    .category-dropdown{
        right: 1px;
    }
   }

/* right section*/
.right-section .con {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    align-items: center; 
    bottom: 37px;
}

.app{
    position: relative;
    display: flex;
    justify-content: left;
}

.app>.span{
    color: rgb(114, 111, 111);
    font-size: 14px;
}

.strong{
    color:  white;
    transition: color 0.2s ease-out;
}

.app>i{
    font-size: 30px;
    margin-right: 5px;
}

.ship-sub .span{
    color:  rgb(114, 111, 111);
}

.ship-sub .span2{
    font-size: 14px;
    color: white;
}

.sign>i{
    font-size: 30px;
    margin-right: 5px;
}

.sign>span{
    color:  rgb(114, 111, 111);
}

.ship, .sign{
    position: relative;
    display: flex;
    justify-content: center;
}

.cart>i{
    font-size: 28px;
}

.cart-count{
    position: absolute;
    bottom: 19px;
    right: -20px;
    padding: 3px 10px;
    background-color:  rgb(225, 110, 39);
    border-radius: 10px;
    font-size: 10px;
}

.cart{
    position: relative;
    display: flex;
    justify-content: right;
}

/* Hover effect for app>i and  .strong */
.app:hover i,
.app:hover .strong {
    color: rgb(227, 112, 40);
    cursor: pointer;
}

/* Hover effect for .span2 and i*/
.ship-sub:hover i,
.ship-sub:hover .span2{
    color: rgb(227, 112, 40);
    cursor: pointer;
}

/* hover effect forr .sign>i and .strong */
.sign:hover i,
.sign:hover .strong{
    color: rgb(227, 112, 40);
    cursor: pointer;
}

/* Hover effect for .cart > i */
.cart > i:hover {
    color: rgb(227, 112, 40);
    cursor: pointer;
}

.sign > i,
.cart > i {
    transition: color 0.3s ease;
}

/*drop down section*/
.drop1, .drop2, .drop3, .drop4{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
}

.sign,
.cart {
    transition: all 0.3s ease;
}

/* drop1 styling*/
.app{
    position: relative;
    display: flex;
    align-items: center;
}
.app:hover .drop1{
    display: flex;
}
.drop1 {
    position: absolute;
    top: 35px;
    left: 0;
    margin-left: 20px;
    background-color: #fff;
    padding: none; 
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 300%; 
    height: 380%;
    display: none;
}
  
.qr-image {
    width: 113px;
    height: 113px;
    margin-bottom: 10px;
}
  
.drop1-text {
    font-size: 13px;
    color: #444;
    margin-top: 10px;
    font-weight: 600;
}

.drop1-text .coupon{
    font-size: 18px;
    font-weight: 800;
}
  
.drop1-text .highlight {
    color: rgb(227, 112, 40);
    font-weight: 800;
    font-size: 18px;
}

.app1{
    padding: 13px 31px;
    border: 0.8px solid rgb(226, 224, 224);
    background-color: white;
    color: #444;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.drop1-icons img {
    width: 11px;
    margin-right: 10px;
}
  
.drop1-icons {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
  
.drop1-icons .app1:hover {
    background-color: rgb(227, 112, 40);
    color: white;
}

/*drop2 styling*/
.drop2 {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 20px 25px;
    border-radius: 8px;
    min-width: 250px;
    z-index: 10;
}

.ship:hover .drop2 {
    display: block;
}
.drop2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    color:  rgb(114, 111, 111);
}
.drop2 select {
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    font-size: 13px;
    border-radius: 5px;
}
.drop2 .save-btn {
    width: 100%;
    padding: 10px;
    background-color:  rgb(227, 112, 40);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.drop2 .save-btn:hover {
    background-color: #c6572f;
}

/*drop3 styling*/
.sign {
    position: relative;
    cursor: pointer;
}
  
.sign .drop3 {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    color: #444;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    width: 12.5vw;
    height: 38vh;
    z-index: 999;
}
  
.sign:hover .drop3 {
    display: block;
}
  
.drop3 .signin-btn,
.drop3 .join-btn {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    font-weight: bold;
    background-color: rgb(227, 112, 40);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.drop3 .signin-btn:hover {
    background-color: #c6572f;
}
  
.drop3 .join-btn {
    background-color: peachpuff;
    color: #444;
}

.drop3 .join-btn:hover {
    background-color: rgb(245, 193, 146);
}
  
.drop3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.drop3 ul li {
    padding: 8px;
    font-size: 13px;
    border-top: 1px solid #eee;
    cursor: pointer;
}
  
.drop3 ul li:hover {
    background-color: #f0f0f0;
}
  
/* drop4 styling */
.cart:hover .drop4 {
    display: block;
}

.drop4 {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 5px 30px;
    border-radius: 8px;
    min-width: 250px;
    text-align: center;
    z-index: 10;
    width: 23vw;
    height: 15vh;
}

.drop4 .empty-msg {
    font-size: 13px;
    color: #444;
    margin-bottom: 8px;
    font-weight: 500;
    margin-top: 22px;
}

.drop4 .sign-in-link {
    font-size: 14px;
    color:  rgb(227, 112, 40);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.drop4 .sign-in-link:hover {
    text-decoration: underline;
}

/*nav styling*/
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav2 {
    padding: 0;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.nav>.nav2{
    display: flex;
    padding: 0 5px;
    gap: 60px;
    font-size: 15px;
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.nav2:hover>i{
    animation: wiggle 0.6s ease;
    color: rgb(206, 99, 32);
}

@keyframes wiggle{
    0%{transform: translateX(0);}
    25%{transform: translateX(5px);}
    50%{transform: translateX(0);}
    100%{transform: translateX(5px);}
}
.nav>.nav2 i{
    margin: 0 8px;
    font-size: 16px;
}

.nav2>i{
    color: rgb(141, 139, 139);
}

.nav>.nav2>i{
    font-size: 13px;
    margin-top: 4px;
}

.nav2:hover{
    color: rgb(206, 99, 32);
}

.category-dropdown {
    position: absolute;
    top: 29px;
   left: 2;
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 470px;
    border-radius: 5px;
    display: block;
    z-index: 1000;
}

.category-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.category-list li {
    padding: 15px 20px;
}

.category-list li:hover,
.category-list li:hover a {
    background-color: #f3f3f3;
    color: rgb(206, 99, 32);
    font-weight: bold;
}

.category-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 13px;
    display: block;
}

.menu-links{
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1.3px;
    transition: color 0.2s ease-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-links:hover{
    color: rgb(206, 99, 32);
}

.nav-section{
    display: none;
}

/* aside bar */
.sidebar-top {
    position: fixed;
    right: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1000;
    border-radius: 2px 0 0 2px;
    width: 40px;
    height: 36%;
}

.sidebar-bottom {
    position: fixed;
    right: 0;
    top: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1000;
    border-radius: 2px 0 0 2px;
    width: 40px;
    height: 22%;
}

.aside-bar i{
    font-size: 13px;
    color: white;
}

.aside-bar a{
    text-decoration: none;
}

.bar2 .null{
    color: white;
    padding: 2px 10px;
    border-radius: 30px;
    background: rgb(206, 99, 32);
    margin-bottom: 5px;
}

.aside-bar div{
    font-size: 12px;
    color: white;
}

.sidebar-item {
    display: block;
    padding: 10px;
}



.sidebar-item img {
    width: 24px;
    height: 24px;
}

.bar1,
.bar2, 
.bar3, 
.bar4, 
.bar5, 
.bar6, 
.bar7, 
.bar8, 
.bar9, 
.bar10 {
    position: relative;
    display: flex;
    align-items: center;
}

.bar1:hover .bar-drop1,
.bar2:hover .bar-drop2, 
.bar3:hover .bar-drop3, 
.bar4:hover .bar-drop4, 
.bar5:hover .bar-drop5, 
.bar6:hover .bar-drop6, 
.bar7:hover .bar-drop7, 
.bar8:hover .bar-drop8, 
.bar10:hover .bar-drop10 {
    display: flex;
}

/* bar-drop1 */
.bar-drop1 {
    position: absolute;
    display: none;
    top: 0;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8x 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 290%; 
    height: 85%;
    cursor: pointer;
}

.aside1{
    margin-left: 6px;
    margin-top: 3px;
}

/* bar-drop2 */
.bar-drop2 {
    position: absolute;
    display: none;
    top: 13px;
    right: 48px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 170%; 
    height: 55%;
    cursor: pointer;
}

.aside2{
    margin-left: 9px;
    margin-top: 3px;
}

/* bar-drop3 */
.bar-drop3 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 200%; 
    height: 85%;
    cursor: pointer;
}

.aside3{
    margin-left: 2px;
    margin-top: 3px;
}

/* bar-drop4 */
.bar-drop4 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 200%; 
    height: 80%;
    cursor: pointer;
}

.aside4{
    margin-left: 4px;
    margin-top: 1px;
}

/* bar-drop5 */
.bar-drop5 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 250%; 
    height: 85%;
}

.aside5 {
    margin-left: 3px;
    margin-top: 2px;
}

/* bar-drop6 */
.bar-drop6 {
    position: absolute;
    display: none;
    top: 6px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 250%; 
    height: 85%;
}

.aside6 {
    margin-left: 10px;
    margin-top: 3px;
}

/* bar-drop7 */
.bar-drop7 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 300%; 
    height: 90%;
}

.aside7 {
    margin-left: 10px;
    margin-top: 3px;
}

/* bar-drop8 */
.bar-drop8 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 300%; 
    height: 90%;
}

.aside8 {
    margin-left: 8px;
    margin-top: 3px;
}

/* bar-drop9 */
.bar9:hover .bar-drop9{
    display: block;
}

.bar-drop9{
    position: absolute;
    display: none;
    bottom: 15%;
    right: 40px;
    background-color: rgb(245, 244, 244);
     padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: center;
    width: 900%; 
    height: 1150%;
}

.wrapper{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 35px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.bar-drop9 .span{
    font-size: 22px;
    color: rgb(227, 112, 40);
    font-weight: 600;
    
}

.code-img{
    width: 100px;
    padding: 5px;
    background: white;
    border-radius: 3px;
}
 
.or{
    font-size: 15px;
    color: #777;
    margin: 20px 0 20px 0;
}

.qr-bar{
    margin-left: 90px;
}

.apple {
    margin: 10px 0 10px 0;
    display: block;
    padding: 5px 5px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    width: 110px;
    height: 35px;
    text-decoration: none;
}

.qr-bar i,
.qr-bar i {
    color: #333;
    margin-right: 5px;
    margin-top: 5px;
}

.apple:hover{
    background: rgb(227, 112, 40);
    color: white;
    text-decoration: none;
}

.android:hover{
    background: rgb(227, 112, 40);
    color: white;
    text-decoration: none;
}

.apple:hover i,
.android:hover i {
    color: white;
}

.android {
    margin-bottom: 10px;
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    width: 110px;
    height: 35px;
}

/* bar-drop10 */
.bar-drop10 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 250%; 
    height: 90%;
}

.bar-drop10 a {
    color: white;
    margin-left: 10px;
    margin-top: 3px;
}

.bar-drop10:hover a{
    color: white;
    text-decoration: none;
}



/*hero banner*/
.slideshow{
    position: relative;
    width: 1200px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 275px;
}

.slideshow img{
    border-radius: 5px;
}

.slide{
    position: absolute;
    width: 950px;
    height: 270px;
    opacity: 0;
    animation: slideAnimation 21s linear infinite;
}

.slide:nth-child(1) { animation-delay: 0s;}
.slide:nth-child(2) { animation-delay: 3s;}
.slide:nth-child(3) { animation-delay: 6s;}
.slide:nth-child(4) { animation-delay: 9s;}
.slide:nth-child(5) { animation-delay: 12s;}
.slide:nth-child(6) { animation-delay: 15s;}
.slide:nth-child(7) { animation-delay: 18s;}

@keyframes slideAnimation{
    0% {opacity: 0; }
    5% {opacity: 1; }
    30% {opacity: 1; }
    35% {opacity: 0; }
    100% {opacity: 0; }
}

/* slide indicator*/
.slide-indicators {
    position: absolute;
    bottom: 10px;
    left: 30%;
    top: 52%;
    display: flex;
    gap: 8px;
    z-index: 10;
}

.dot {
    width: 8px;
    height: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    animation: dotCycle 21s linear infinite;
    opacity: 0.5;
}

.dot1 { animation-delay: 0s; }
.dot2 { animation-delay: 3s; }
.dot3 { animation-delay: 6s; }
.dot4 { animation-delay: 9s; }
.dot5 { animation-delay: 12s; }
.dot6 { animation-delay: 15s; }
.dot7 { animation-delay: 18s; }

@keyframes dotCycle {
    0%   { opacity: 0.5; background-color: rgb(227, 112, 40); }
    4%   { opacity: 1; }
    28%  { opacity: 1;}
    32%  { opacity: 0.5; }
    100% { opacity: 0.5; }
}

.dot:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* top sales*/
.top-sales>img{
    position: absolute;
    left: 26.4%;
    width: 950px;
    height: 165px;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: -1000;
}

.top-sales-sub{
    position: relative;
    left: 28%;
    top: 30px;
    width: 50%;
    cursor: pointer;
}

.top-sales h2{
    font-weight: 750;
    font-size: x-large;
}

.go-btn{
    margin-top: 16px;
    padding: 0 12px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #ff4633;
    color: white;
    cursor: pointer;
    font-weight: 800;
    font-size: x-small;
    cursor: pointer;
}

.topsales-wrapper {
    position: relative;
    left: 42%;
    bottom: 62px;
    width: 55%;
    display: flex;
    overflow-x: auto;
    gap: 7px;
    scrollbar-width: none;
    z-index: -1000;
}

.topsales-wrapper::-webkit-scrollbar {
    display: none;
  }

.topsales-item img {
    width: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.topsales-item {
    min-width: 110px;
    background: #fff;
    border-radius: 5px;
    width: 50px;
    height: 145px;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

.price {
    color: black;
    font-weight: bold;
    margin-top: 8px;
    font-size: 14px;
}
  
.old-price {
    color: #444;
    text-decoration: line-through;
    font-size: 12px;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1024px) {
    .slideshow{
        left: 11%;
    }

    .slide-indicators{
        left: 40%;
        top: 61%;
    }

    .top-sales>img{
        left: 34%;
    }

    .top-sales-sub{
        left: 24%;
    }

    .topsales-wrapper{
        width: 60%;
    }

    .ADs-container{
        right: 8%;
    }

    .item-img4{
        left: 91%;
    }

    .item-img5{
        left: 91%;
    }

    .tag2{
        left: 92%;
    }
}

/* ADs banner*/
.ADs-container {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.ADs-img{
    position: relative;
    bottom: 50px;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;
    left: 10%;
    width: 50%;
}

/*ad-slider */
.ad-item {
    left: 36%;
    margin-top: 13px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.ad-slider {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    bottom: 100px;
}
  
.ad-slide-track {
    display: flex;
    flex-direction: column;
    animation: scrollup 6s linear infinite;
    transition: transform 1s ease;
}
   
/* Slide animation */
@keyframes scrollup {
    0%   { transform: translateY(0); }
    33%  { transform: translateY(-40px); }
    66%  { transform: translateY(-80px); }
    100% { transform: translateY(-120px); }
}
  
.run-time{
    position: absolute;
    bottom:70px;
    left: 46%;
    color: white;
    font-weight: lighter;
}

.time{
    font-weight: bold;
}

.AD-item1{
    position: absolute;
    bottom: 44px;
    left: 13.5%;
}

.item-img2{
    position: absolute;
    top: 9px;
    border-radius: 5px
}

.tag{
    position: absolute;
    top: 82%;
    left: 23px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.item-img4{
    position: absolute;
    right:  12.5%;
    bottom: 44px;
}

.item-img5{
    position: absolute;
    right:  12.5%;
    bottom: 92px;
}

.tag2{
    position: absolute;
    right: 13.5%;
    bottom: 60px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.item-img1 img,
.item-img2 img,
.item-img3 img,
.item-img4 img,
.item-img5 img,
.ADs-item3 img {
  border-radius: 5px;
  object-fit: cover;
}

/* discount-section */
.discount-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
  
.discount-item {
    position: relative;
    width: 150px;
    bottom: 30px;
    cursor: pointer;
}
  
.main-img,
.sub-img {
    width:100%;
    border-radius: 7px;
    display: block;
}
  
.sub-img {
    width: 139px;
    position: absolute;
    bottom: 59px;
    left: 6px;
}

.discount-info {
    position: absolute;
    bottom: 37px;
    left: 10px;
    color: white;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    width: 100%;
}
  
.discount-info .label {
    font-size: 13px;
    color: #444;
    margin-left: 15px;
}
  
.discount-info .title {
    position: absolute;
    top: 28px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* flash deals*/
.produt-grid {
    display: flex;
    gap: 20px;
}

.flash-deals {
    background: #eeeded;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    width: 1250px;
    height: 280px;
    cursor: pointer;
}
  
.flash-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.see-more {
    position: absolute;
    right: 22px;
    color: #444;
    text-decoration: none;
    font-weight: lighter;
}

.see-more:hover{
    color: rgb(206, 99, 32);
}

.timer {
    font-weight: bold;
    font-size: 16px;
    color: #4444;
}

.flash-header h2 {
    font-size: 20px;
    font-weight: 700;
  }

.flash-header i{
    color: #fe6e27;
    font-size: 20px;
}

.pro-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.pro-box {
    width:  calc(100% / 6 - 20px);
    border-radius: 6px;
    text-align: center;
    position: relative;
    bottom: 10px;
    transition: box-shadow 0.3s ease;
} 

.discount {
    position: absolute;
    background: linear-gradient( to right, #fe6d2a, #fe6022);
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    border-bottom-right-radius: 15px;
    z-index: 10;
}

.price {
    text-align: left;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;;
}

.pro-box:hover img {
    filter: brightness(0.9);
    transition: filter 0.4s ease-in-out;
}

/* discover new*/
.section-con {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 20px;
    cursor: pointer;
}
  
.discover-new,
.top-brand {
    background-color: #eeeded;
    border-radius: 7px;
    padding: 20px;
    width: 615px;
    height: 275px;
}
  
.discover-header,
.brand-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
  
.discover-header h2,
.brand-header h2 {
    font-size: 22px;
    margin: 0;
}
  
.discover-header a,
.brand-header a {
    color: #444;
    text-decoration: none;
    font-size: 15px;
}
  
.card-con,
.brand-con {
    display: flex;
    gap: 15px;
}

.card, .brand {
    text-align: left;
    flex: 1;
    min-width: 100px;
}

.card img {
    width: 100%;
    max-width: 180px;
    height: 170px;
    border-radius: 6px;
}

.card p {
    font-weight: 600;
    margin-top: 8px;
}

.brand-img1{
    position: absolute;
    top: 18%;
    left: 1%;
}

.brand-img2{
    position: absolute;
    top: 18%;
    right: 35%;
}

.brand-img3{
    position: absolute;
    top: 18%;
    left: 70%;
}

.brand-con{
    position: relative;
}

.brand-sub{
    position: relative;
    max-width: 180px;
    height: 200px;
    border-radius: 8px;
}

.img-logo1,
.img-logo2,
.img-logo3 {
    position: relative;
    max-width: 120px;
    height: 40px;
    border-radius: 8px;
}

.img-logo1{
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.img-logo2{
    position: absolute;
    bottom: 10%;
    right: 40%;
}

.img-logo3{
    position: absolute;
    bottom: 10%;
    right: 6%;
}

.card img:hover {
    filter: brightness(0.9);
    transition: filter 0.4s ease-in-out;
}

.brand:hover img {
    filter: brightness(0.9);
    transition: filter 0.4s ease-in-out;
}

/* hot categories */
.category-box1 {
    background-color: #d0f2fe;
    padding: 10px 15px;
    border-radius: 7px;
    width: 100%;
    max-width: 276px;
    cursor: pointer;
}

.category-box1 h3 {
    margin: 15px 0 8px 0;
    font-size: 18px;
    color: #333;
}

.images {
    display: flex;
    margin-top: 25px;
}

.img1 {
    width: 160px;
    height: 170px;
    border-radius: 5px;
    object-fit: cover;
}

.side-images{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 40%;
}

.img2 {
    width: 84px;
    border-radius: 8px;
    object-fit: cover;
}

.btn i{
    font-size: 9px;
    color: white;
}

  
.btn {
    display: inline-block;
    padding: 5px 15px;
    background-color: #0b8dff;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
}

.hot-header {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 10px;
}

.hot-categories h2{
    font-weight: bold;
    font-size: 20px;
    color: #363239;
}

h2 i{
    color: #ff4733;
}

.category-grid {
    display: flex;
    gap: 20px;
    /* align-items: center; */
    padding: 20px;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    display: flex;
}

  
.category-right-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
  
.category-box {
    height: 105%;
    background: #eeeded;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.img2:hover{
    filter: brightness(0.9);
    transition: filter 0.4s ease-in-out;
}
  
.category-box h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
  
.side-image {
    display: flex;
    justify-content: center;
    gap: 8px;
}
  
.side-image img {
    width: 90px;
    height: 75px;
    object-fit: cover;
    border-radius: 6px;
  }

/* picks for you*/
.picks-for-you {
    max-width: 1300px;
    margin: 40px auto;
    padding: 0 10px;
}

.pick-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
}

.pick-box {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 2px;
    height: 326px;
    transition: 0.3s ease;
    position: relative;
}
  
.pick-box:hover {
    transform: translateY(-0.5px);
}

.pick-box img {
    width: 100%;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
  
.pick-box .h3 {
    font-size: 13px;
    color: white;
    font-weight: 600;
    padding: 3px;
    border-radius: 2px;
    background: #27c383;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.pick-box a{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    color: #444;
}

a:hover{
    color: #fe6e27;
    text-decoration: underline;
}

.pick-box .price{
    margin-left: 5px;
}

.oldprice{
    color: #444;
    font-size: 13px;
    margin-left: 5px;
}

.pick-box .info{
    font-weight: lighter;
    font-size: 13px;
    color: #444;
    margin-left: 5px;
}

.pick-box i{
    color: #fe6e27;
}

.note{
    font-size: 13px;
    color:  #fe6e27;
    margin-left: 5px;
}

.pick-img{
    position: absolute;
    border-radius: 10px;
    bottom: 101%;
    height: 180px;
}

.pick-box .top-pro{
    position: absolute;
    top: 65%;
    left: 24%;
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    background: #c48661;
}

.top-pro>i{
    color: white;
    font-size: 12px;
}

.pick-box>a{
    text-decoration: none;
}

.pa{
    position: absolute;
    top: 78%;
    left: 16%;
    font-size: 13px;
    color: #444;
    cursor: pointer;
}

.h{
    padding: 3px;
    border-radius: 5px;
    background: #6d83f9;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

/* btn section */
.btn-section{
    text-align: center;
    cursor: pointer;
}

.btn-section a{
    text-decoration: none;
    color: white;
    padding: 12px 35px;
    border-radius: 20px;
    background:  #fe6e27;
    font-size: 13px;
    font-weight: 600;
}

/* keyword section */
.keyword-section {
    margin: 60px 128px 0 128px;
    cursor: pointer;

}

.keywords h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.keywords-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 13px;
}

.keywords-list a {
    color: #444;
    text-decoration: none;
}

.keywords-list span {
    color: #444;
}

.li{
    position: relative;
    cursor: pointer;
}

.li::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 0%;
    height: 0.9px;
    transition: width 0.2s ease-in-out;
    background-color: #444;
}

.li:hover{
    color: #333;;
}

.li:hover::after{
    width: 100%;
}

.hr{
    margin: 45px 128px 0 128px;
    color: #ffffff48;
    cursor: pointer;
}

/* features-highlight*/
.features{
    margin: 45px 135px 0 135px;
    cursor: pointer;
    
}

.feature-highlights {
    padding: 39px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.feature {
    margin: 0 25px 0 25px;
}

.feature>h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 5px;
    color: #333;
}

.feature p {
    font-size: 12px;
    color: #777;
    margin: 0;
}

.feature>i{
    font-size: 40px;
    color: #444;
}

/* footer section */
.footer {
    position: relative;
    background-color: #f9f9f9;
    padding: 40px 100px 25px 100px;
    margin-top: 50px;
    cursor: pointer;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-col {
    margin: 20px;
}

.footer-col h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}
  
.footer-col ul {
    list-style: none;
    padding: 0;
    font-size: 13px;
}
  
.footer-col ul li {
    margin-bottom: 15px;
} 
.footer-col ul li a {
    text-decoration: none;
    color: #555;
}
  
.footer-col ul li a:hover {
    text-decoration: underline;
}

.subscribe-form {
    display: flex;
    border-bottom: 2px solid #000;
    width: 300px;
    margin-top: 10px;
}

.footer-col p, a{
    color: #555;
    font-size: 13px;
}

.privacy:hover {
    color: #333;
}
  
.subscribe-form input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    padding: 5px;
    color: #777;
    margin-top: 25px;
}
  
.subscribe-form button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 18px;
}

.app-buttons {
    margin-top: 15px;
}

.app-btn{
    display: flex;
}
  
.app-buttons button {
    margin-top: 15px;
    margin-right: 15px;
    padding: 8px 12px;
    border: 2px solid #444;
    border-radius: 20px;
    background: white;
    cursor: pointer;
}

.i{
    transition: 0.3s ease-in-out;
}

.i:hover{
    background: #333;
    color: #f9f9f9;
}

.i{
    font-size: 19px;
}

.qr-code, 
.i{
    font-size: 13px;
}

.qr-code i{
    margin-right: 5px;
}

.qr-btn{
    position: relative;
    display: block;
    align-items: center;
}

.qr-btn:hover .qr-code-drop{
    display: block;
}

.qr-code-drop{
    display: none;
    position: absolute;
    top: 15px;
    right: 1px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
}

.qr-img{
    width: 116px;
    height: 119px;
    position: absolute;
    right: 9px;
    top: 11px;
}

.qr-pad{
    position: relative;
    width: 135px;
    height: 180px;
    border-radius: 6px;
}

.qr-code-drop p{
    font-size: 13px;
    font-weight: lighter;
    color: #777;
    position: absolute;
    left: 15px;
    bottom: 17px;
}

.footer-bot {
    position: absolute;
    text-align: left;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    font-size: 13px;
    color: #666;
    right: 19%;
    top: 25%;
    justify-items: left;
    
}

.footer-bot h4{
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}
  
.social-icons {
    margin-bottom: 35px;
}
  
.social-icons i {
    margin: 0 8px;
    font-size: 13px;
    color: #f9f9f9;
    cursor: pointer;
    padding: 7px;
    border-radius: 50px;
    background: #777;
    transition: 0.3s ease-in-out;
}
  
.social-icons i:hover {
    background: #333;
}

.calender p{
    color: #70707088;
    font-size: 13px;
}

.calender a{
    font-size: 12px;
    color: #777;
    text-decoration: none;
}

.calender1:hover,
.calender2:hover,
.calender3:hover{
    text-decoration: underline;
}

.foot-logo{
    margin: 0 135px 0 135px;
    padding: 25px 0 0 0;
}

.foot-logo img{
    width: 100%;
}

.ul-section{
    display: none;
}

.coupon-section, 
.foot-menu-section,
.deal-section, 
.hot-sales-section, 
.button-section, 
.foot-section{
    display: none;
}


/* Mobile styles */
@media only screen and (max-width: 767px) {
    .header{
      background-color: #2c2c37;
      color: white;
      padding: 0 12px;
      position: fixed;
      width: 100%;
      height: 110px;
      top: -9px;
      z-index: 100;
    }
  
    body{
      max-width: 1000px;
      width: 100%;
    }
  
    .logo-search{
      display: block;
    }
  
    .link,
    .logo h6{
      display: none;
    }
  
    .logo{
      display: flex;
    }
  
    .logo{
      margin: 10px 0 15px 0;
    }
  
    h1{
      font-size: x-large;
      margin: 0 0 0 16px;
    }
  
    .logo i{
      display: flex;
      font-weight: light;
      font-size: 25px;
    }
  
    .sign-in-link{
      display: flex;
      position: relative;
      left: 46%;
      top: 7px;
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
    }

    .sign-in-link:hover{
        color: white;
    }
  
    .search{
      display: none;
    }
  
    .search-btn{
      position: absolute;
      right: 89%;
      top:53%;
      background: white;
      color: black;
      border: none;
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;
    }
  
    .right-section .con {
      display: none;
    }
  
    .nav{
      display: none;
    }
  
    .input-search{
      display: flex;
    }
  
    .input-search .input{
      width: 100%;
      border-radius: 10px;
      border: none;
      position: relative;
    }
  
    .input-search i{
      position: absolute;
      color: black;
      bottom: 20px;
      left: 10px;
      font-size: 20px;
      z-index: 10;
    }
  
    .slideshow,
    .top-sales,
    .slide-indicators,
    .sidebar-top,
    .sidebar-bottom,
    .ADs-banner,
    .discount-section,
    .flash-deals,
    .section-con,
    .hot-categories,
    .btn-section,
    .keyword-section,
    .hr,
    .features,
    .footer {
      display: none;
    }

    .ul-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -10px 0 0 0;
    }

    .ul-list ul{
        display: flex;
        text-align: center;
        list-style: none;
        gap: 30px;
    }

    ul i{
        align-items: center;
    }

    .list1 i{
        padding: 15px;
        border-radius: 60px;
        color: white;
        font-size: 25px;
        font-weight: bolder;
        background: rgb(5, 120, 253);
        margin-bottom: 5px;
    }

    .list2 i{
        padding: 15px;
        border-radius: 160px;
        color: white;
        font-size: 25px;
        font-weight: bolder;
        background: rgb(254, 48, 48);
        margin-bottom: 5px;
    }

    .list3 i{
        padding: 15px;
        border-radius: 60px;
        color: white;
        font-size: 25px;
        font-weight: bolder;
        background: rgb(158, 54, 206);
        margin-bottom: 5px;
    }

    .list4 i{
        padding: 15px;
        border-radius: 60px;
        color: white;
        font-size: 25px;
        font-weight: bolder;
        background: rgb(225, 188, 1);
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
        color: #444;
    }

    a:hover{
        color: #444;
        text-decoration: none;
    }

    .coupon-section {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 20px 5px 0 9px;
        padding-bottom: 24px;
    }
    
    .coupon-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .coupon-header h4 {
        font-size: 18px;
        color: #333;
    }
    
    .flex-coupon{
        display: flex;
        padding: 10px 10px 10px 5px;
        border-radius: 8px;
        height: 170px;
        width: 380px;
        gap: 10px;
        background: linear-gradient(to bottom, yellow, gold);
    }

    .get-coupon {
        display: flex;
    }
    
    .coupon-box {
        background: white;
        border-radius: 10px;
        padding: 5px 0 0 0;
        width: 120px;
        height: 150px;
        text-align: center;
    }
    
    .coupon-box img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    
    .price {
        font-weight: bold;

    }
    
    .discounts {
        text-decoration: line-through;
        color: #777;
        font-size: 13px;
    }

    .coupon-header p{
        margin-right: 7px;
        font-size: 12px;
        font-weight: lighter;
        color: #666;
    }

    .coupon-header i{
        font-size: 12px;
        font-weight: light;
        color: #777;
    }

    .deal-section{
        display: block;
        padding: 10px;
        height: 250px;
        width: 100%;
        background: rgb(226, 242, 248);
    }

    .deal-box{
        display: flex;
        align-items: center;
        margin-left: 5px;
        gap: 10px;
        overflow-x: auto;
        scroll-padding-left: 16px;
    }

    .deal-box::-webkit-scrollbar {
        display: none; 
      }

    .deal{
        position: relative;
        padding: 10px;
        width: 110px;
        border-radius: 10px;
        background: rgb(253, 252, 252);
        margin-top: 10px;
    }

    .deal img{
        width: 100px;
        height: 120px;
        border-radius: 8px;
    }

    .deal .discount{
        position: absolute;
        padding: 2px 10px;
        top: 0;
        left: 0;
        border-top-left-radius: 10px;
    }

    .deal i{
        font-size: 10px;
        margin-right: 5px;
    }

    .deal .price{
        font-size: 13px;
        margin-left: 15px;
    }

    .deal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .deal-header h4{
        padding: 0 8px;
        font-size: 16px;
        color: #333;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .flash i{
        color: #fe6d2a;
        font-size: 13px;
    }

    .flash span{
        padding: 0 8px;
        font-size: 12px;
        color: #333;
        font-weight: bold;
    }

    .deal-header p{
        font-size: 12px;
        color: #666;
        margin-top: -15px;
    }

    .hot-sales-section{
        display: block;
        padding: 20px 12px;
    }

    .hot-flex{
        display: flex;
        gap: 10px;
    }

    .hot-box{
        background: white;
        margin-top: 10px;
        border-radius: 10px;
    }

    .hot-box img{
        width: 105px;
    }

    .hot-sales-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hot-sales-header h4{
        font-size: 16px;
        color: #333;
    }

    .hot-sales-header i{
        font-size: 12px;
        color: #666;
    }

    .hot-box .name{
        font-size: 12px;
        font-weight: bold;
        padding: 0 0 0 25px;
        margin-top: 15px;
    }

    .hot-box .info{
        font-size: 10px;
        color: #E39700;
        padding: 0 0 0 28px;
    }

    .picks-for-you{
        display: block;
        margin-top: -1px;
    }

    .pick-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        width: 100%;
        margin-top: 10px;
    }

    .pick-box img{
        width: 180px;
    }

    .picks-header{
        font-size: 12px;
        font-weight: bold;
        color: #333;
    }

    .button-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-show{
        padding: 10px 15px;
       font-weight: bold;
       font-size: 14px;
       border-radius: 5px;
       border: 2px solid #6666;
    }

    .foot-section{
        display: block;
        padding: auto;
        background: white;
        margin-top: 20px;
    }

    .foot{
        padding: 15px;
    }

    .top{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 16px;
        color: #666;
    }

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: lighter;
        color: #777;
    }

    .logos img{
        width: 50px;
        margin-left: 6px;
    }

    .info{
        margin-top: 25px;
    }

    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #666;
        gap: 10px;
    }

    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #666;
        margin-top: 10px;
        padding-bottom: 80px;
    }

    .foot-menu-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0 0 0;
        height: 70px;
        width: 100%;
        background: white;
        box-shadow: 4px 0 0 black;
        position: fixed;
        bottom: 0;
        
    }

    .foot-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 11px 0 0 0;
    }

    .foot-menu i{
        font-size: 26px;
        color: #666;
        margin-bottom: 5px;
    }

    .foot-menu a{
        font-size: 12px;
        color: #666;
    }

    .foot-a:hover,
    .foot-a:hover i{
        color: #fe6d2a;
    }

    .foot-menu1{
        margin-left: 10px;
    }

    .foot-menu2{
        margin-left: -6px;
    }

    .sidedrop {
        position: relative;
        display: inline-block;
    } 
  
    /* Hide the checkbox */
    .sidedrop input[type="checkbox"] {
        display: none;
    }
  
    .sidedrop-label i{
        color: white;
        font-size: 23px;
        cursor: pointer;
        display: inline-block;
    }
  
    .sidedrop-content {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        min-width: 320px;
        width: 100px;
        height: 105vh;
        box-shadow: 0px 8px 18px rgba(0,0,0,2);
        z-index: 1000;
        overflow-x: auto;
        scroll-padding-left: 16px;
    }
  
    .sidedrop-content a {
        color: #444;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
    }

    .sidedrop .head{
        display: flex;
        padding: 10px 0 1px 15px;
        background-color: #fff;
        gap: 15px;
        position: fixed;
        top: 0;
        width: 80%;
        border-bottom: 1px solid #777777;
    }

    .sidedrop img{
        width: 60px;
        border-radius: 50px;
        padding: 8px;
        background: rgb(233, 232, 232);
    }

    .sidedrop h4{
        color: #000000;
        font-size: 16px;
        margin-top: 18px;
    }

    .set-flex p{
        color: #444;
        font-size: 14px;
    }

    .explore{
        line-height: 35px;
    }

    .explore h4{
        padding-left: 16px;
    }

    .explore span{
        display: flex;
        justify-content: space-between;
    }

    .explore span i{
        margin: 10px 25px 0 0;
        color: #444;
        font-size: 14px;
    }

    .setting{
        padding-left: 16px;
    }

    .setting h4{
        margin-bottom: 15px;
    }

    .set-flex{
        display: flex;
        justify-content: space-between;
    }

    .set-div{
        line-height: 50px;
    }

    .set-flex i{
        margin: 10px 25px 0 0;
        color: #444;
        font-size: 14px;
    }

    .APP{
        padding: 0 0 16px 16px;
    }

    .APP p{
        color: #444;
        font-size: 14px;
    }
  
    /* Show dropdown when checkbox is checked */
    .sidedrop input:checked ~ .sidedrop-content {
        display: block;
    }

    .back-button {
        display: block;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        position: absolute;
        right: -60px;
      }

      .head i{
        font-size: 35px;
      }
}