*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

body{
    background-color: #f4f4f4;
}

/*header section*/
.header{
    background-color: #2c2c37;
    color: white;
    padding: 0 164px;
}

.logo-search{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: -30px;
    padding: 10px 0 12px 0;
}

.logo{
    font-family: OpenSans, Arial;
    font-size: xx-large;
    font-weight: bold;
    margin: 0 33px;

}

.logo .orange{
    color: #ef6e3f;
}

h6{
    font-size: 10px;
    color: rgb(108, 106, 106);
    letter-spacing: 1.1px;
}


.logo .orange{
    color: #ef6e3f;
}

h6{
    font-size: 10px;
    color: rgb(108, 106, 106);
    letter-spacing: 1.1px;
}

.input{
    position: relative;
    flex: 1;
    min-width: 200px;
    width: 0%;
    padding: 10px;
    margin-top: 2px;
    border-radius: 5px;
    border: none;
}

.link{
    font-weight: lighter;
    text-decoration: none;
    font-size: smaller;
    color:  rgb(108, 106, 106);
    transition: color 0.2s ease-out;
}

.link:hover{
    color: rgb(206, 99, 32);
    text-decoration: underline;
}

.search-btn{
    position: absolute;
    right: 42%;
    top:15.5%;
    background-color: rgb(225, 110, 39);
    border: none;
    padding: 7.5px 12px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: rgb(133, 58, 12);
}

/* Responsive Breakpoints */
/* @media screen and (max-width: 1024px) {
    
    .header{
        padding: 0 25px 0 25px;
    }

    body{
        max-width: 1500px;
        width: 160%;
    }

    .search-btn{
        right: 41%;
    }

    .category-dropdown{
        right: 1px;
    }
   } */

/* right section*/
.right-section .con {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    align-items: center; 
    bottom: 37px;
}

.app{
    position: relative;
    display: flex;
    justify-content: left;
}

.app>.span{
    color: rgb(114, 111, 111);
    font-size: 14px;
}

.strong{
    color:  white;
    transition: color 0.2s ease-out;
}

.app>i{
    font-size: 30px;
    margin-right: 5px;
}

.ship-sub .span{
    color:  rgb(114, 111, 111);
}

.ship-sub .span2{
    font-size: 14px;
    color: white;
}

.sign>i{
    font-size: 30px;
    margin-right: 5px;
}

.sign>span{
    color:  rgb(114, 111, 111);
}

.ship, .sign{
    position: relative;
    display: flex;
    justify-content: center;
}

.cart>i{
    font-size: 28px;
}

.cart-count{
    position: absolute;
    bottom: 19px;
    right: -20px;
    padding: 3px 10px;
    background-color:  rgb(225, 110, 39);
    border-radius: 10px;
    font-size: 10px;
}

.cart{
    position: relative;
    display: flex;
    justify-content: right;
}

/* Hover effect for app>i and  .strong */
.app:hover i,
.app:hover .strong {
    color: rgb(227, 112, 40);
    cursor: pointer;
}

/* Hover effect for .span2 and i*/
.ship-sub:hover i,
.ship-sub:hover .span2{
    color: rgb(227, 112, 40);
    cursor: pointer;
}

/* hover effect forr .sign>i and .strong */
.sign:hover i,
.sign:hover .strong{
    color: rgb(227, 112, 40);
    cursor: pointer;
}

/* Hover effect for .cart > i */
.cart > i:hover {
    color: rgb(227, 112, 40);
    cursor: pointer;
}

.sign > i,
.cart > i {
    transition: color 0.3s ease;
}

/*drop down section*/
.drop1, .drop2, .drop3, .drop4{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
}

.sign,
.cart {
    transition: all 0.3s ease;
}

/* drop1 styling*/
.app{
    position: relative;
    display: flex;
    align-items: center;
}
.app:hover .drop1{
    display: flex;
}
.drop1 {
    position: absolute;
    top: 35px;
    left: 0;
    margin-left: 20px;
    background-color: #fff;
    padding: none; 
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 300%; 
    height: 380%;
    display: none;
}
  
.qr-image {
    width: 113px;
    height: 113px;
    margin-bottom: 10px;
}
  
.drop1-text {
    font-size: 13px;
    color: #444;
    margin-top: 10px;
    font-weight: 600;
}

.drop1-text .coupon{
    font-size: 18px;
    font-weight: 800;
}
  
.drop1-text .highlight {
    color: rgb(227, 112, 40);
    font-weight: 800;
    font-size: 18px;
}

.app1{
    padding: 13px 31px;
    border: 0.8px solid rgb(226, 224, 224);
    background-color: white;
    color: #444;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.drop1-icons img {
    width: 11px;
    margin-right: 10px;
}
  
.drop1-icons {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
  
.drop1-icons .app1:hover {
    background-color: rgb(227, 112, 40);
}

/*drop2 styling*/
.drop2 {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 20px 25px;
    border-radius: 8px;
    min-width: 250px;
    z-index: 10;
}

.ship:hover .drop2 {
    display: block;
}
.drop2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    color:  rgb(114, 111, 111);
}
.drop2 select {
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    font-size: 13px;
    border-radius: 5px;
}
.drop2 .save-btn {
    width: 100%;
    padding: 10px;
    background-color:  rgb(227, 112, 40);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.drop2 .save-btn:hover {
    background-color: #c6572f;
}

/*drop3 styling*/
.sign {
    position: relative;
    cursor: pointer;
}
  
.sign .drop3 {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    color: #444;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    width: 12.5vw;
    height: 38vh;
    z-index: 999;
}
  
.sign:hover .drop3 {
    display: block;
}
  
.drop3 .signin-btn,
.drop3 .join-btn {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    font-weight: bold;
    background-color: rgb(227, 112, 40);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.drop3 .signin-btn:hover {
    background-color: #c6572f;
}
  
.drop3 .join-btn {
    background-color: peachpuff;
    color: #444;
}

.drop3 .join-btn:hover {
    background-color: rgb(245, 193, 146);
}
  
.drop3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.drop3 ul li {
    padding: 8px;
    font-size: 13px;
    border-top: 1px solid #eee;
    cursor: pointer;
}
  
.drop3 ul li:hover {
    background-color: #f0f0f0;
}
  
/* drop4 styling */
.cart:hover .drop4 {
    display: block;
}

.drop4 {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 5px 30px;
    border-radius: 8px;
    min-width: 250px;
    text-align: center;
    z-index: 10;
    width: 23vw;
    height: 15vh;
}

.drop4 .empty-msg {
    font-size: 13px;
    color: #444;
    margin-bottom: 8px;
    font-weight: 500;
    margin-top: 22px;
}

.drop4 .sign-in-link {
    font-size: 14px;
    color:  rgb(227, 112, 40);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.drop4 .sign-in-link:hover {
    text-decoration: underline;
}

/*nav styling*/
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav2 {
    padding: 0;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.nav>.nav2{
    display: flex;
    padding: 0 5px;
    gap: 60px;
    font-size: 15px;
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.nav2:hover>i{
    animation: wiggle 0.6s ease;
    color: rgb(206, 99, 32);
}

@keyframes wiggle{
    0%{transform: translateX(0);}
    25%{transform: translateX(5px);}
    50%{transform: translateX(0);}
    100%{transform: translateX(5px);}
}
.nav>.nav2 i{
    margin: 0 8px;
    font-size: 16px;
}

.nav2>i{
    color: rgb(141, 139, 139);
}

.nav>.nav2>i{
    font-size: 13px;
    margin-top: 4px;
}

.nav2:hover{
    color: rgb(206, 99, 32);
}

.category-dropdown {
    position: absolute;
    top: 29px;
   left: 2;
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 470px;
    border-radius: 5px;
    display: block;
    z-index: 1000;
}

.category-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.category-list li {
    padding: 15px 20px;
}

.category-list li:hover,
.category-list li:hover a {
    background-color: #f3f3f3;
    color: rgb(206, 99, 32);
    font-weight: bold;
}

.category-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 13px;
    display: block;
}

.menu-links{
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1.3px;
    transition: color 0.2s ease-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-links:hover{
    color: rgb(206, 99, 32);
}

/* aside bar */
.sidebar-top {
    position: fixed;
    right: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1000;
    border-radius: 2px 0 0 2px;
    width: 40px;
    height: 36%;
}

.sidebar-bottom {
    position: fixed;
    right: 0;
    top: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1000;
    border-radius: 2px 0 0 2px;
    width: 40px;
    height: 22%;
}

.aside-bar i{
    font-size: 13px;
    color: white;
}

.aside-bar a{
    text-decoration: none;
}

.bar2 .null{
    color: white;
    padding: 2px 10px;
    border-radius: 30px;
    background: rgb(206, 99, 32);
    margin-bottom: 5px;
}

.aside-bar div{
    font-size: 12px;
    color: white;
}

.sidebar-item {
    display: block;
    padding: 10px;
}



.sidebar-item img {
    width: 24px;
    height: 24px;
}

/* .sidebar-item:hover {
    background-color: #f2f2f2;
    border-radius: 6px;
}  */

.bar1,
.bar2, 
.bar3, 
.bar4, 
.bar5, 
.bar6, 
.bar7, 
.bar8, 
.bar9, 
.bar10 {
    position: relative;
    display: flex;
    align-items: center;
}

.bar1:hover .bar-drop1,
.bar2:hover .bar-drop2, 
.bar3:hover .bar-drop3, 
.bar4:hover .bar-drop4, 
.bar5:hover .bar-drop5, 
.bar6:hover .bar-drop6, 
.bar7:hover .bar-drop7, 
.bar8:hover .bar-drop8, 
.bar10:hover .bar-drop10 {
    display: flex;
}

/* bar-drop1 */
.bar-drop1 {
    position: absolute;
    display: none;
    top: 0;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8x 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 290%; 
    height: 85%;
    cursor: pointer;
}

.aside1{
    margin-left: 6px;
    margin-top: 3px;
}

/* bar-drop2 */
.bar-drop2 {
    position: absolute;
    display: none;
    top: 13px;
    right: 48px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 170%; 
    height: 55%;
    cursor: pointer;
}

.aside2{
    margin-left: 9px;
    margin-top: 3px;
}

/* bar-drop3 */
.bar-drop3 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 200%; 
    height: 85%;
    cursor: pointer;
}

.aside3{
    margin-left: 2px;
    margin-top: 3px;
}

/* bar-drop4 */
.bar-drop4 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 200%; 
    height: 80%;
    cursor: pointer;
}

.aside4{
    margin-left: 4px;
    margin-top: 1px;
}

/* bar-drop5 */
.bar-drop5 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 250%; 
    height: 85%;
}

.aside5 {
    margin-left: 3px;
    margin-top: 2px;
}

/* bar-drop6 */
.bar-drop6 {
    position: absolute;
    display: none;
    top: 6px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 250%; 
    height: 85%;
}

.aside6 {
    margin-left: 10px;
    margin-top: 3px;
}

/* bar-drop7 */
.bar-drop7 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 300%; 
    height: 90%;
}

.aside7 {
    margin-left: 10px;
    margin-top: 3px;
}

/* bar-drop8 */
.bar-drop8 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 300%; 
    height: 90%;
}

.aside8 {
    margin-left: 8px;
    margin-top: 3px;
}

/* bar-drop9 */
.bar9:hover .bar-drop9{
    display: block;
}

.bar-drop9{
    position: absolute;
    display: none;
    bottom: 15%;
    right: 40px;
    background-color: rgb(245, 244, 244);
     padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: center;
    width: 900%; 
    height: 1150%;
}

.wrapper{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 35px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.bar-drop9 .span{
    font-size: 22px;
    color: rgb(227, 112, 40);
    font-weight: 600;
    
}

.code-img{
    width: 100px;
    padding: 5px;
    background: white;
    border-radius: 3px;
}
 
.or{
    font-size: 15px;
    color: #777;
    margin: 20px 0 20px 0;
}

.qr-bar{
    margin-left: 90px;
}

.apple {
    margin: 10px 0 10px 0;
    display: block;
    padding: 5px 5px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    width: 110px;
    height: 35px;
    text-decoration: none;
}

.qr-bar i,
.qr-bar i {
    color: #333;
    margin-right: 5px;
    margin-top: 5px;
}

.apple:hover{
    background: rgb(227, 112, 40);
    color: white;
    text-decoration: none;
}

.android:hover{
    background: rgb(227, 112, 40);
    color: white;
    text-decoration: none;
}

.apple:hover i,
.android:hover i {
    color: white;
}

.android {
    margin-bottom: 10px;
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    width: 110px;
    height: 35px;
}

/* bar-drop10 */
.bar-drop10 {
    position: absolute;
    display: none;
    top: 5px;
    right: 40px;
    background-color: #333;
     padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    text-align: center;
    width: 250%; 
    height: 90%;
}

.bar-drop10 a {
    color: white;
    margin-left: 10px;
    margin-top: 3px;
}

.bar-drop10:hover a{
    color: white;
    text-decoration: none;
}

/* ranking section */
.rank-section{
    margin: 0 164px 0 164px;
    padding: 18px 0 18px 0;
    cursor: pointer;
}

.ranking{
    display: flex;
}

.ranking h2{
    margin-right: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #c58762;
}

.ranking p{
 margin-top: 8px;
 font-size: 20px;
 font-weight: lighter;
 color: #a6a7a9;
}

/* nav section */
/* .nav-section{
    position: fixed;
    width: 100%;
} */

.nav-sec{
    background: #c58762;
    cursor: pointer;
}

.main-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c58762;
    height: 80px;
}

.category {
    flex: 0 0 auto;
    text-align: center;
    width: 120px;
    gap: 50px;
    color: white;
    cursor: pointer;
    padding: 0 1px 0 1px;
    position: relative;
}

.category i {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.cat{
    font-size: 15px;
    color: white;
    margin-left: 15px;
}

.category span{
    font-size: 13px;
}

.sub-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 45px;
    background: white;
    gap: 10px;
    cursor: pointer;
}

.sub:hover{
    background: #c58762;
    color: white;
}

.sub {
    border: none;
    background: #f0f0f5;
    padding: 4px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.sub-categories a{
    color: #3b4656;
}

/* top seller ranking */
.topseller-section {
    padding: 20px 0 0 20px;
    margin: 0 164px 0 164px;
    cursor: pointer;
}

.seller-card {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.card {
    background: rgb(233, 232, 232);
    border-radius: 8px;
    padding: 12px;
    width: 375px;
    position: relative;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-0.1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-seller h3 {
    font-size: 20px;
    font-weight: 700;
    color: #2e343a;
    margin-bottom: 16px;
}

.top-seller h3 span {
    font-size: 14px;
    font-weight: normal;
    color: #96979b;
    margin-left: 10px;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
    left: 3%;
    top: 8%;
}

.rank i {
    position: absolute;
    top: -10px;
    left: 2px;
    color: #f59b34;
    font-weight: bold;
    font-size: 40px;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
}

.rank span{
    position: absolute;
    top: 3px;
    left: 21px;
    z-index: 100;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.rank2 i {
    position: absolute;
    top: -10px;
    left: 2px;
    color: #9b9fc1;
    font-weight: bold;
    font-size: 40px;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
}

.rank2 span{
    position: absolute;
    top: 3px;
    left: 21px;
    z-index: 100;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.rank3 i {
    position: absolute;
    top: -10px;
    left: 2px;
    color: #cf9162;
    font-weight: bold;
    font-size: 40px;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
}

.rank3 span{
    position: absolute;
    top: 3px;
    left: 21px;
    z-index: 100;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.product-title {
    position: absolute;
    font-size: 13px;
    color: #333;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
    left: 47%;
    text-align: left;
}

.hot {
    display: flex;
    align-items: center;
    background: #fdfcfc;
    padding: 0 10px 0 0;
    border-radius: 20px;
    font-size: 12px;
    gap: 5px;
    position: absolute;
    top: 27%;
    left: 45%;
}

.hot i {
    color: yellow;
    padding: 8px;
    font-size: 17px;
    background: red;
    border-radius: 100px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 50%;
    left: 47%;
}

.shop-btn {
    position: absolute;
    top: 72%;
    left: 73%;
    background-color: #daa37d;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

.shop-btn:hover{
    background: #c7936f;
}

.top-box{
    margin: 20px 0 0 0;
    /* background: white; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);


}

.box{
    padding: 12px;
    border-radius: 5px;
    margin: 0 18px 18px 0;
    height: 270px;
    gap: 20px;
    background: rgba(228, 228, 228, 0.94);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover{
    transform: translateY(-0.1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box img{
    width: 191px;
    height: 191px;
}

.box i{
    position: absolute;
    top: -3px;
    left: 15px;
    font-size: 40px;
    color: #dbc2a1;
}

.box .rank{
    position: absolute;
    top: 3px;
    left: 23px;
    font-weight: 800;
    color: white;
}

.box .ranks{
    position: absolute;
    top: 3px;
    left: 18px;
    font-weight: 800;
    color: white;
}

.box .p{
    position: absolute;
    bottom: 35px;
    left: 12px;
    font-weight: 600;
    font-size: 16px;
}

.box .note{
    position: absolute;
    bottom: 15px;
    font-size: 13px;
    color: #333;
}