.top, 
.topper, 
a{
    text-decoration: none;
    list-style: none;
}

.category-list{
    list-style: none;
}

.floater:hover .float1{
    display: grid;
}

.category-list{
    position: relative;
}

.float1{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    background: #ffffff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 980px;
    height:550px;
    position: absolute;
    left: 100%;
    top: 0;
    gap: 20px;
}

.float-link a, 
.float-link2 a, 
.float-link3 a, 
.float-link4 a, 
.float-link5 a{
    display: block;
    line-height: 28px;
}

.float-link img{
    display: block;
    width: 214px;
}

.float-img1, 
.float-img2 {
    margin-top: 10px;
}

.float-link2{
    position: absolute;
    bottom: 10%;
    left: 20px;
}

.float-link3{
    position: absolute;
    bottom: 41%;
    left: 34%;
}

.float-link4{
    position: absolute;
    bottom: 32%;
    left: 34%;
}

.float-link5{
    position: absolute;
    bottom: 25%;
    left: 34%;
}

.topper{
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.1s ease;
    margin-bottom: 7px;
}

.top{
    color: #808080;
     font-size: 13px;
    font-weight: lighter;
    transition: all 0.1s ease;
}
.topper:hover, 
.top:hover {
    color: #FF6E26;
    text-decoration: underline;
}

.float2{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    background: #ffffff;
    width: 970px;
    height: 700px;
    position: absolute;
    left: 100%;
    top: 0;
    gap: 20px;
}

.floater:hover .float2{
    display: grid;
}

.float-link6 a,
.float-link7 a,
.float-link8 a,
.float-link9 a,
.float-link10 a,
.float-link11 a {
    display: block;
}

.float-link6{
    position: absolute;
    left: 26px;
    top: 37%;
    line-height: 28px;
}

.float-link8{
    position: absolute;
    left: 27%;
    top: 37%;
    line-height: 28px;
}

.float-link10{
    position: absolute;
    left: 51%;
    top: 25%;
    line-height: 28px;
}

.float-link7{
    position: absolute;
    left: 24px;
    bottom: 20%;
    line-height: 28px;
}

.float-link9{
    position: absolute;
    left: 27%;
    bottom: 20%;
    line-height: 28px;
}
.float-link11{
    position: absolute;
    left: 51%;
    bottom: 28%;
    line-height: 28px;
}

.float-link12{
    position: absolute;
    left: 51%;
    bottom: 23%;
    line-height: 28px;
}

.float3{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    background: rgb(169, 167, 167);
    background: #ffffff;
    width: 970px;
    height: 700px;
    position: absolute;
    left: 100%;
    top: 0;
    gap: 20px;
}

.floater:hover .float3{
    display: grid;
}

.float-link13 a, 
.float-link14 a, 
.float-link15 a, 
.float-link16 a, 
.float-link17 a,
.float-link18 a,
.float-link19 a, 
.float-link20 a,
.float-link21 a,
.float-link22 a,
.float-link23 a,
.float-link24 a,
.float-link25 a {
    display: block;
}

.float-link13{
    position: absolute;
    top: 33%;
    left: 25px;
    line-height: 28px;
}

.float-link16{
    position: absolute;
    bottom: 21%;
    left: 25px;
}

.float-link14{
    position: absolute;
    top: 42%;
    left: 27%;
    line-height: 28px;
}

.float-link15{
    position: absolute;
    top: 68%;
    left: 27%;
    line-height: 28px;
}

.float-link17{
    position: absolute;
    top: 17%;
    left: 51%;
    line-height: 28px;
}

.float-link18{
    position: absolute;
    top: 39%;
    right: 28%;
    line-height: 28px;
}

.float4{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    background: #ffffff;
    width: 970px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 100%;
    gap: 20px;
}

.floater:hover .float4{
    display: grid;
}

.float-link19{
    position: absolute;
    top: 48%;
    left: 23px;
    line-height: 28px;
}

.float-link20{
    position: absolute;
    bottom: 7%;
    left: 23px;
    line-height: 28px;
}

.float-link21{
    position: absolute;
    top: 24%;
    left: 35%;
    line-height: 28px;
}

.float-link22{
    position: absolute;
    top: 50%;
    left: 35%;
    line-height: 28px;
}

.float5{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    background: #ffffff;
    width: 970px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 100%;
    gap: 20px;
}

.floater:hover .float5{
    display: grid;
}

.float-link23{
    position: absolute;
    bottom: 36%;
    left: 23px;
    line-height: 28px;
}

.float-link24{
    position: absolute;
    bottom: 36%;
    left: 27%;
    line-height: 28px;
}

.float-link25{
    position: absolute;
    bottom: 60%;
    left: 51%;
}